<!-- メインビジュアル -->
<div class="main-visual-area">
  <div class="jumbotron jumbotron-fluid text-center text-white" style="background: url(<%= asset_path "main.jpg" %>) center; background-size:cover;">
    <div class="container">
      <h1 class="display-3">さあ、投資を始めよう</h1>
      <p class="lead">毎月の収支を整理して、投資額をシミュレーションしよう</p>
      <%= link_to "始める", "#", class: "btn btn-primary" %>
    </div>
  </div>
</div>

<!-- 機能紹介 -->
<div class="">

</div>

<!-- 社会のトレンド -->
<div class="">

</div>

<!-- 訴求 -->
<div class="">

</div>

<!-- 使い方説明 -->
<div class="">

</div>

<!-- 投資の世界へようこそ -->
<div class="">

</div>
