.investment-contents {
  .form-group {
    .form-item {
      width: 150px;
    }
    .form-price {
      width: 110px;
    }
    .form-yield {
      width: 60px;
    }
    .form-year,.form-month {
      width: 60px;
    }
  }
}
