
.main-visual-area {
  .jumbotron {
    height: 400px;
  }

  h1,p {
    text-shadow: 2px 2px 10px gray;
  }

}

.service-area {
  .income {
    .fa {
      color: #66bb6a;
    }
  }
  .outgo {
    .fa {
      color: #ffa726;
    }
  }
  .investment {
    .fa {
      color: #ab47bc;
    }
  }
}
